.section {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 45vh;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.p {
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  margin: 3px;
  border-radius: 50%;
  background-color: white;
}

.p-img {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p-img {
  transform: translateY(-100%);
}

.pText {
  color: #ea3057;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }
}
@media screen and (max-width: 760px) {
  .section {
    width: 70%;
    height: 40vh;
    display: flex;
    align-items: center;
  }
  .p {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
}
